.skill_section {
    height: 800px;
    /* background-color: #F5BA7F; */
    font-family: 'Lato', sans-serif;
}

.skill_header {
    text-align: center;
    position: relative;
    top: 30px;
}

.skill_header .main_header {
    font-size: 40px;
}

.skill_header .sub_header {
    font-size: 20px;
    color: rgb(0, 0, 0, 0.5);
}

.skills {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
    /* left: 100px; */
}

.skill_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill_list {
    list-style: none;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 180px 180px;
    position: relative;
    top: -100px;
}

.skill_name, .skill_level {
    text-align: center;
}

.skill_name {
    text-transform: uppercase;
    font-size: 15px;
}

.skill_level {
    font-size: 15px;
    font-weight: 400;
    color: rgb(0, 0, 0, 0.5);
}



.title {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    left: -15px;
}

.app_logo {
    width: 148px;
    height: 144px;
    scale: 35%;
    position: relative;
    top: 15px;
    right: 25px;
}

.border_box {
    border-radius: 300px;
    /* border-style: solid;
    border-width: 1px; */
    background-color: #f1f1f1;
    position: relative;
    top: 80px;
    height: 110px;
    width: 90px;

}

.container {
    transform: translate(-5%, -17%);
}

.skill_end {
    position: relative;
    bottom: -400px;
}

